<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-styling">
            <div class="container">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JustSomeStuff</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-link-styling">
                            <a class="nav-link nav-item-styling" asp-area="" asp-controller="Home" asp-action="Index">Account</a>
                        </li>
                        <li class="nav-item nav-link-styling">
                            <a class="nav-link nav-item-styling" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="nav-link nav-item-styling" asp-area="Identity" asp-page="/Account/Login">Login</a>
            }
        </nav>
    </header>

    <div class="container-fluid" style="padding:0px !important">
        <main role="main" class="pb-3" style="height: 800px;">
            @RenderBody()
        </main>
    </div>

    <script>
        const url = window.location.href.split('/');
        const baseUrl = url[0] + '//' + url[2];
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
