@using Nancy.Json;
@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "DeleteProduct";
}

<div class="col-12">
    <div class="row">
        <div class="col-3">
            <form method="get" asp-action="DeleteProduct">
                <div class="search-div">
                    <i class="fas fa-angle-left expand-icon-styling" onclick="SearchBarManager.toggleSearchBar()"></i>
                    <button class="submitBtn" onclick="HistoryManager.manage()" style="padding:0; border:none;" type="submit"><img src="~/images/mag-final2.png" class="search-icon" /></button>
                    <input type="search" value="@ViewData["GetDetailsDelete"]" name="ProductSearchDelete" class="input-styling-search" />
                </div>
            </form>
        </div>
        <a class="image-list" asp-action="DeleteProduct"><img src="~/images/list-search.png" /></a>
    </div>

    <div class="row">
        <div class="col-2 some-div">
            <ul id="myList">
            </ul>
        </div>
        <div class="col-10 styling-table">
            @if (Model.Count() > 0)
            {
                <ul class="list-group ul-styling-list">
                    <li class="list-group-item active item-product item-heading">Products</li>
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item item-product">
                            @{
                                JavaScriptSerializer ser = new JavaScriptSerializer();
                                var stored = ser.Serialize(item.Id);
                            }
                            @item.Name <span> <img onclick="Remover.removeProduct(@stored)" class="icon-trash jello" src="~/images/trash.svg" /></span>
                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="jumbotron no-results">
                    <span class="no-values"> Search yielded no results :(</span>
                </div>
            }
        </div>
    </div>
</div>





