@using Nancy.Json;
@model EditProductModel

@Html.HiddenFor(x => x.CategoryName)
@Html.HiddenFor(x => x.Name)
@Html.HiddenFor(x => x.ProductCategoryId)

<div class="product-div">
    <h3 class="title-product"> New Product</h3>
    <form method="post" asp-action="EditProduct" class="form-styling">
        <div class="mb-3 input-div">
            <input asp-for="Name" id="Name" type="text" class="form-control input-styling" placeholder="Name">
        </div>
        <div class="mb-3 input-div">
            <input asp-for="Price" id="Price" type="text" class="form-control input-styling" placeholder="Price">
        </div>
        <div class=" mb-3 input-div">
            <input asp-for="Description" id="Description" type="text" class="form-control input-styling" placeholder="Description">
        </div>

        <select asp-for="CategoryName" class="btn btn-secondary dropdown-toggle" id="CategoryName" name="CategoryName" style="text-align:center;">
            @foreach (var item in Model.categories)
            {
                <option><span style="text-align:center;">@item.CategoryName</span></option>
            }
        </select>
        <div>
            <button id="mButton" type="submit" class="btn book-button"> <img class="image-tick" style="height: 63px;" src="~/images/ok.png">Save</button>
        </div>
    </form>
</div>

