
@{
    ViewData["Title"] = "Add";
}


<div class="options-div">
    <div onclick="Navigator.navigate('AddProduct', 'Product')" class="jumbotron jumbo-styling" style="display:inline-block;position: inherit;
    bottom: 36px;">
        <img class="options-image" src="~/images/shopping.png">
        <h5 class="options-add">New Product</h5>
    </div>
    <div onclick="Navigator.navigate('AddCategory', 'ProductCategory')" class="jumbotron jumbo-styling" style="display: inline-block">
        <img class="options-image" src="~/images/briefcase.png">
        <h5 class="options-add">New Product Category</h5>
    </div>
</div>
