
@{
    ViewData["Title"] = "Delete";
}


    <div class="options-div">
        <div onclick="Navigator.navigate('DeleteProduct', 'Product')" class="jumbotron jumbo-styling" style="display:inline-block;position: inherit;
    bottom: 36px;">
            <img class="options-image" src="~/images/deleteProd.png">
            <h5 class="options-add">Delete Product</h5>
        </div>
        <div onclick="Navigator.navigate('DeleteProductCategory', 'ProductCategory')" class="jumbotron jumbo-styling" style="display: inline-block">
            <img class="options-image" src="~/images/deleteCat.png">
            <h5 class="options-add">Delete Product Category</h5>
        </div>
    </div>
