<div class="options-div">
    <div onclick="Navigator.navigate('EditProductList', 'Product')" class="jumbotron jumbo-styling" style="display:inline-block;position: inherit;
    bottom: 36px;">
        <img class="options-image" src="~/images/edit-file.png">
        <h5 class="options-add">Edit Product</h5>
    </div>
    <div onclick="Navigator.navigate('EditProductCategoryList', 'ProductCategory')" class="jumbotron jumbo-styling" style="display: inline-block">
        <img class="options-image" src="~/images/edit-cat.png">
        <h5 class="options-add">Edit Product Category</h5>
    </div>
</div>