@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid header-div">
    <img class="image-styling" src="~/images/cartoon.png" />
    <div class="div-drop-down bounceDownAnimate">
        <span class="span-styling">Organize and Connect.</span>
    </div>
</div>


<div class="div-icons">
    <img onclick="Navigator.navigate('Add')" class="icon-styling" src="https://img.icons8.com/color/96/000000/add.png">

    <img onclick="Navigator.navigate('List')" class="icon-styling" src="https://img.icons8.com/color/96/000000/list.png">

    <img onclick="Navigator.navigate('Remove')" class="icon-styling" src="https://img.icons8.com/color/96/000000/delete-forever.png">

    <img src="https://img.icons8.com/color/96/000000/design.png" class="icon-styling">
</div>
