@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid header-div">
    <img class="image-styling" src="~/images/cartoon.png" />
    <div class="div-drop-down bounceDownAnimate">
        <span class="span-styling">Organize and Connect.</span>
    </div>
</div>


<div class="div-icons">
    <img onclick="Navigator.navigate('Add', 'Home')" class="icon-styling" src="~/images/add.png">

    <img onclick="Navigator.navigate('List', 'Home')" class="icon-styling" src="~/images/list.png">

    <img onclick="Navigator.navigate('Delete', 'Home')" class="icon-styling" src="~/images/delete-forever.png">

    <img src="~/images/design.png" class="icon-styling">
</div>
