
@{
    ViewData["Title"] = "List";
}

<div class="options-div">
    <div onclick="Navigator.navigate('ProductList')" class="jumbotron jumbo-styling" style="display:inline-block;position: inherit;
    bottom: 36px;">
        <img class="options-image" src="https://img.icons8.com/color/96/000000/move-by-trolley.png">
        <h5 class="options-add">All Products</h5>
    </div>
    <div onclick="Navigator.navigate('CategoryList')" class="jumbotron jumbo-styling" style="display: inline-block">
        <img class="options-image" src="https://img.icons8.com/color/96/000000/four-squares.png">
        <h5 class="options-add">All Product Categories</h5>
    </div>
</div>

