@model IEnumerable<ProductModel>;
@{
    ViewData["Title"] = "ProductList";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Product Category</th>
            <th scope="col">Dimensions</th>
        </tr>
    </thead>
    @for (int i = 0; i < 5; i++)
    {
        <tr>
            <td>
                1
            </td>
            <td>
                <div style="display:inline; padding-right: 15px;">
                    <div class="row icons-mobile">
                        Plant
                    </div>
                </div>
            </td>
            <td>Green Stuff</td>
            <td>14 x 15 x 17</td>
        </tr>
    }
</table>


