@model IEnumerable<ProductCategoryModel>;
@{
    ViewData["Title"] = "CategoryList";
}


<h3 class="category-h3">Product Categories</h3>
<ul class="list-group list-group-flush ul-styling">
    @foreach (var item in Model)
    {
        <li class="list-group-item item-styling">@item.CategoryName</li>
    }
</ul>
