@import url(site-responsive.css);

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.navbar-styling {
    border-bottom: 5px solid #95b4d8 !important;
    background-color: #4a4a4a !important;
    padding-left: 42%;
}

.nav-link-styling {
    padding-right: 82px;
}

@font-face {
    font-family: "Fairview";
    src: url("//db.onlinewebfonts.com/t/7dc9ef4fe08e92b814e9c494dc95fd5f.eot");
    src: url("//db.onlinewebfonts.com/t/7dc9ef4fe08e92b814e9c494dc95fd5f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7dc9ef4fe08e92b814e9c494dc95fd5f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7dc9ef4fe08e92b814e9c494dc95fd5f.woff") format("woff"), url("//db.onlinewebfonts.com/t/7dc9ef4fe08e92b814e9c494dc95fd5f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7dc9ef4fe08e92b814e9c494dc95fd5f.svg#Fairview") format("svg");
}

.nav-item-styling {
    color: white !important;
    font-size: 36px;
    font-family: Fairview;
}

.header-div {
    position: relative;
    padding: 0px !important;
    height: 300px;
    background: #e6e6e6;
}

.image-styling {
    height: 85%;
    margin-left: 18%;
}

.span-styling {
    font-weight: 100;
    font-size: 60px;
    opacity: 0.8;
    transition: transform .3s;
    height: 500px;
}

.div-drop-down {
    animation: bounceDownAnimate 2s ease-in;
    height: 200px;
    display: inline-block;
}

@keyframes bounceDownAnimate {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.icon-styling {
    padding-right: 124px;
    cursor: pointer;
    transition: all 1s ease;
}

.div-icons {
    padding-left: 28%;
    margin-top: 4%;
}

.icon-styling:hover {
    transform: scale(1.1, 1.1);
}

.options-div {
    padding-left: 33%;
    position: relative;
    top: 85px;
}

.jumbo-styling {
    height: 300px;
    width: 300px;
    margin-right: 35px;
    cursor: pointer;
    transition: all ease-in .5s;
    margin-bottom: 0px !important;
}

    .jumbo-styling:hover {
        transform: scale(1.1,1.1);
        background: #cecece;
    }

.options-add {
    font-weight: 100;
    font-size: 29px;
    margin-top: 7%;
    margin-left: 16%;
}

.options-image {
    margin-left: 29%;
}

.product-div {
    text-align: center;
    margin-top: 2%;
}

.title-product {
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 2%;
}

.input-styling {
    border-radius: 0;
    text-align: center;
    border: none;
}

.form-styling {
    width: 80%;
    margin-left: 10%;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle {
    width: 100%;
    border-radius: 0;
    background: #b9cad8;
    border: none;
}

.dropdown-style {
    width: 100%;
    border-radius: 0;
    text-align: center;
}

.submit-product {
    width: 100%;
    border: 1px solid #a7a7a7;
    margin-top: 3%;
    height: 44px;
    background: #c1e2b6;
}

.image-tick {
    margin-top: 2%;
    cursor: pointer;
}

.save-styling {
    font-weight: 100;
    opacity: 0.8;
}

.ul-styling {
    text-align: center;
}

.category-h3 {
    text-align: center !important;
    font-family: Fairview;
    font-size: 247%;
    padding-top: 2%;
    padding-bottom: 1%;
}


.dropdown-toggle-delete-product {
    background: #c3dff7;
    width: 83%;
    margin-left: 10%;
    border-radius: 0;
    background: #b0d2ef;
    border: none !important;
    height: 43px;
}

.title-delete-product {
    text-align: center;
    font-family: fairview;
    font-size: 223%;
    margin-bottom: 1%;
    margin-top: 2%;
    padding-left: 4%;
}

.dropdown-style-delete {
    width: 83%;
    text-align: center;
}

.dropdown-item:focus {
    background: #d2d2d2 !important;
}

.dropdown-item:hover {
    background: none !important;
}

.header-style {
    font-family: fairview;
    font-size: 157%;
    font-weight: 500;
}

.thead-style {
    background: #e0e0e0d1;
}


.trash-styling {
    position: relative;
    left: 50%;
    top: 32px;
}

.trash-invalid {
    opacity: 0.3;
    cursor: not-allowed;
}

.trash-valid {
    opacity: 1;
    cursor: pointer;
}

.input-styling-delete {
    width: 83%;
    margin-left: 10%;
    border-radius: 0;
    background: #dcdcdc;
    border: none !important;
    height: 43px;
}

.login-div {
    text-align: center;
    font-family: Fairview;
    font-size: 29px;
    padding-top: 3%;
}

.input-login {
    border-radius: 0px !important;
    text-align: center;
    border: none !important;
}

.login-button {
    font-size: 23px;
    color: #fff;
    background-color: #cacaca;
    width: 100%;
    border-radius: 0px !important;
    border: none !important;
}

    .login-button:hover {
        background-color: #99acc1 !important;
    }

.form-control:focus {
    background-color: rgb(232, 240, 254) !important;
}

.form-control {
    background-color: rgb(232, 240, 254) !important;
}

#Input_Email-error {
    font-size: 60%;
}

#Input_Password-error {
    font-size: 60%;
}

.login-group {
    padding-bottom: 3%;
}

ul {
    list-style-type: none;
}

.ul-styling-list {
    margin-top: 2%;
    border: none !important;
    border-radius: 0px !important;
}

.item-product {
    border-radius: 0px !important;
}

.item-heading {
    background-color: #a5c5e8 !important;
    border: none !important;
}

.search-icon {
    color: #313131 !important;
    height: 80px !important;
    width: 85px !important;
    position: absolute;
    right: 71%;
    top: 8%;
    transition: transform .2s;
    cursor: pointer;
}

    .search-icon:hover {
        transform: scale(1.2, 1.2);
    }

/*.expand-icon-styling:hover + .input-styling {
    width: 400px !important;
}*/


.input-styling-search {
    -webkit-appearance: searchfield !important;
    background: #e5edff;
    width: 100px;
    height: 65px;
    transition: width .7s;
    border-left: 5px solid #618eff;
    border-top: none;
    border-bottom: none;
    border-right: none;
    color: black;
    font-size: 17px;
    padding-left: 17%;
    font-weight: lighter;
}

    .input-styling-search:focus {
        outline: none !important;
        padding-left: 17%;
    }

.expand-icon-styling {
    position: relative;
    /*left: 86px;*/
    height: 25px !important;
    width: 25px !important;
    top: 5px;
    color: black;
    opacity: 0.8;
    cursor: pointer;

}


.input-styling-expanded {
    width: 300px !important;
    padding-left: 20%;
}

.search-div {
    margin-top: 6%;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
